#####################
# libvirt variables #
#####################
# A remote host running libvirt
# eg: an host with more than 8GB or RAM
libvirt_uri = "qemu:///system"

# A custom pool defined on the libvirt host
# eg: a pool backed by a fast SSD
pool = "default"

#####################
# Cluster variables #
#####################
master_count = 1
worker_count = 2

# instance user name
username = "sles"

# A range that doesn't conflict with the SUSE network
# and allows a similar naming.
#network = "172.30.0.0/22"
#net_mode = "route"

# Image url - can be local file downloaded in advance
img_source_url = "SLES15-SP1-JeOS-RC1-with-fixed-kernel-default.qcow2"

# Define the repositories to use.
repositories = {
  sle_server    = "http://download.suse.de/install/SLP/SLE-15-SP1-Module-Server-Applications-RC2/x86_64/DVD1/"
  sle_base      = "http://download.suse.de/install/SLP/SLE-15-SP1-Module-Basesystem-RC2/x86_64/DVD1/"
  sle_contaiers = "http://download.suse.de/install/SLP/SLE-15-SP1-Module-Containers-RC2/x86_64/DVD1/"
  sle_ha        = "http://download.suse.de/install/SLP/SLE-15-SP1-Product-HA-RC1/x86_64/DVD1/"
  suse_ca       = "http://download.suse.de/ibs/SUSE:/CA/SLE_15_SP1/"
  caasp_15sp1   = "http://download.suse.de/ibs/SUSE:/SLE-15-SP1:/Update:/Products:/CASP40/standard/"
}

# Additional packages that you may want to install in the initialization process.
packages = [
  "ca-certificates-suse", # Required for registry.suse.de
  "patterns-caasp-Node"
]

# Add your key here as you would do for the `~/.ssh/authorized_keys` file. They
# will be added into this same file for each node.
authorized_keys = [
  "..."
]
