#####################
# libvirt variables #
#####################
# A remote host running libvirt
# eg: an host with more than 8GB or RAM
libvirt_uri = "qemu:///system"

# A custom pool defined on the libvirt host
# eg: a pool backed by a fast SSD
pool = "default"

#####################
# Cluster variables #
#####################
master_count = 1
worker_count = 1

# A range that doesn't conflict with the SUSE network
# and allows a similar naming.
#network = "172.30.0.0/22"
#net_mode = "route"

img_source_url = "openSUSE-Leap-15.0-OpenStack.x86_64-0.0.4-Buildlp150.12.113.qcow2"

# Define the repositories to use.
#repositories = {
#  caasp_devel_leap15 = "https://download.opensuse.org/repositories/devel:/CaaSP:/Head:/ControllerNode/openSUSE_Leap_15.0"
#}

# Additional packages that you may want to install in the initialization process.
#packages = [
#  ""
#]

# Add your key here as you would do for the `~/.ssh/authorized_keys` file. They
# will be added into this same file for each node.
#authorized_keys = [
#  ""
#]