# docs: https://help.github.com/en/articles/about-code-owners

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
# *       @global-owner1 @global-owner2

# Order is important; the last matching pattern takes the most
# precedence.

# The codeowners of this file are the repository admins
.github/CODEOWNERS @ereslibre @flavio @innobead @jordimassaguerpla @stefsuse

# A file/directory pattern or domain MUST have at least 3 codeowners before
# it is added to this file.
