# docs: https://help.github.com/en/articles/about-code-owners

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
# *       @global-owner1 @global-owner2

# Order is important; the last matching pattern takes the most
# precedence.

# Instead of maching the individual skuba directories,
# we can look for *.go files instead.
*.go @ereslibre @nirmoy @klaven

/skuba-update/ @davidcassany @mssola

/ci/ @tdaines42
/ci/infra/testrunner/ @pablochacin @tdaines42
/ci/packaging/ @davidcassany @MaximilianMeister

/test/ @pablochacin

/tools/ @ereslibre
