[Unit]
Description=Daily update of the system
After=network-online.target local-fs.target

[Timer]
OnActiveSec=0
OnCalendar=daily
AccuracySec=1m
Persistent=true

[Install]
WantedBy=timers.target
