[Unit]
Description=Update the system
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
EnvironmentFile=-/etc/sysconfig/skuba-update
ExecStart=/usr/sbin/skuba-update $SKUBA_UPDATE_OPTIONS
IOSchedulingClass=best-effort
IOSchedulingPriority=7
