vsphere_datastore = ""
vsphere_datacenter = ""
vsphere_network = ""
vsphere_resource_pool = ""
template_name = ""

# IMPORTANT, please enter unique identifier below as value of stack_name variable to not interfere with other deployments
stack_name = ""

# ssh keys to inject into all the nodes
# EXAMPLE:
# authorized_keys = ["ssh-rsa <key-content>"]
authorized_keys = []

workers = 3
masters = 3
load-balancers = 1

# IMPORTANT: Replace these ntp servers with ones from your infrastructure
ntp_servers = ["0.novell.pool.ntp.org", "1.novell.pool.ntp.org", "2.novell.pool.ntp.org", "3.novell.pool.ntp.org"]

# EXAMPLE:
# repositories = [
#   { repository1 = "http://example.my.repo.com/repository1/" },
#   { repository2 = "http://example.my.repo.com/repository2/" }
# ]
repositories = []

# EXAMPLE:
# packages = [ "vim", "less" ]
packages = []
