# datastore to use in vSphere
# EXAMPLE:
# vsphere_datastore = "STORAGE-0"
vsphere_datastore = ""

# datacenter to use in vSphere
# EXAMPLE:
# vsphere_datacenter = "DATACENTER"
vsphere_datacenter = ""

# network to use in vSphere
# EXAMPLE:
# vsphere_network = "VM Network"
vsphere_network = ""

# resource pool the machines will be running in
# EXAMPLE:
# vsphere_resource_pool = "CaaSP_RP"
vsphere_resource_pool = ""

# template name the machines will be copied from
# EXAMPLE:
# template_name = "SLES15-SP1-cloud-init"
template_name = ""

# IMPORTANT: Replace by "efi" string in case your template was created by using EFI firmware
firmware = "bios"

# prefix that all of the booted machines will use
# IMPORTANT: please enter unique identifier below as value of
# stack_name variable to not interfere with other deployments
stack_name = "caasp-v4"

# Number of master nodes
masters = 1

# Optional: Size of the root disk in GB on master node
master_disk_size = 50

# Number of worker nodes
workers = 2

# Optional: Size of the root disk in GB on worker node
worker_disk_size = 40

# Optional: Define the repositories to use
# EXAMPLE:
# repositories = {
#   repository1 = "http://repo.example.com/repository1/"
#   repository2 = "http://repo.example.com/repository2/"
# }
repositories = {}

# Minimum required packages. Do not remove them.
# Feel free to add more packages
packages = [
]

# ssh keys to inject into all the nodes
# EXAMPLE:
# authorized_keys = [
#   "ssh-rsa <key-content>"
# ]
authorized_keys = []

# IMPORTANT: Replace these ntp servers with ones from your infrastructure
ntp_servers = ["0.novell.pool.ntp.org", "1.novell.pool.ntp.org", "2.novell.pool.ntp.org", "3.novell.pool.ntp.org"]
