# datastore to use on the vSphere server
# EXAMPLE:
# vsphere_datastore = "STORAGE-0"
vsphere_datastore = "3PAR"

# datacenter to use on the vSphere server
# EXAMPLE:
# vsphere_datacenter = "DATACENTER"
vsphere_datacenter = ""

# network to use on the vSphere server
# EXAMPLE:
# vsphere_network = "VM Network"
vsphere_network = "VM Network"

# resource pool the machines will be running in
# EXAMPLE:
# vsphere_resource_pool = "CaaSP_RP"
vsphere_resource_pool = "CaaSP_RP"

# template name the machines will be copied from
# EXAMPLE:
# template_name = "SLES15-SP1-cloud-init"
template_name = "SLES15-SP1-GM-guestinfo"

# prefix that all of the booted machines will use
# IMPORTANT, please enter unique identifier bellow as value of stack_name variable to not interfere with other deployments
stack_name = "caasp-jenkins-v4"

# Number of master nodes
masters = 1

# Number of worker nodes
workers = 2

# Username for the cluster nodes
# EXAMPLE:
# username = "sles"
username = "sles"

# Password for the cluster nodes
# EXAMPLE:
# password = "linux"
password = "linux"

# define the repositories to use
# EXAMPLE:
# repositories = [
#   { repository1 = "http://example.my.repo.com/repository1/" },
#   { repository2 = "http://example.my.repo.com/repository2/" }
# ]
repositories = [
    { caasp_40_devel_sle15sp1 = "http://download.suse.de/ibs/Devel:/CaaSP:/4.0/SLE_15_SP1/" },
    { sle15sp1_pool = "http://download.suse.de/ibs/SUSE:/SLE-15-SP1:/GA/standard/" },
    { sle15sp1_update = "http://download.suse.de/ibs/SUSE:/SLE-15-SP1:/Update/standard/" },
    { sle15_pool = "http://download.suse.de/ibs/SUSE:/SLE-15:/GA/standard/" },
    { sle15_update = "http://download.suse.de/ibs/SUSE:/SLE-15:/Update/standard/" },
    { suse_ca = "http://download.suse.de/ibs/SUSE:/CA/SLE_15_SP1/" }
]

# Minimum required packages. Do not remove them.
# Feel free to add more packages
packages = [
    "patterns-caasp-Node",
    "ca-certificates-suse"
]

# ssh keys to inject into all the nodes
# EXAMPLE: 
# authorized_keys = [
#   "ssh-rsa <key-content>"
# ]
authorized_keys = [
    ""
]

# IMPORTANT: Replace these ntp servers with ones from your infrastructure
ntp_servers = ["0.novell.pool.ntp.org", "1.novell.pool.ntp.org", "2.novell.pool.ntp.org", "3.novell.pool.ntp.org"]
