{
    "vsphere_datastore": "3PAR",
    "vsphere_datacenter": "",
    "vsphere_network": "VM Network",
    "vsphere_resource_pool": "CaaSP_RP",
    "template_name": "SLES15-SP1-GM-guestinfo",
    "stack_name": "caasp-jenkins-v4",
    "masters": 1,
    "workers": 2,
    "username": "sles",
    "lb_repositories": {
        "sle_server_pool": "http://download.suse.de/ibs/SUSE/Products/SLE-Product-SLES/15-SP1/x86_64/product/",
        "basesystem_pool": "http://download.suse.de/ibs/SUSE/Products/SLE-Module-Basesystem/15-SP1/x86_64/product/",
        "ha_pool": "http://download.suse.de/ibs/SUSE/Products/SLE-Module-HA/15/x86_64/product/",
        "sle_server_updates": "http://download.suse.de/ibs/SUSE/Updates/SLE-Product-SLES/15-SP1/x86_64/update/",
        "basesystem_updates": "http://download.suse.de/ibs/SUSE/Updates/SLE-Module-Basesystem/15-SP1/x86_64/update/"
    },
    "repositories": {
        "caasp_devel": "http://download.suse.de/ibs/Devel:/CaaSP:/4.0/SLE_15_SP1/",
        "suse_ca": "http://download.suse.de/ibs/SUSE:/CA/SLE_15_SP1/",
        "sle_server_pool": "http://download.suse.de/ibs/SUSE/Products/SLE-Product-SLES/15-SP1/x86_64/product/",
        "basesystem_pool": "http://download.suse.de/ibs/SUSE/Products/SLE-Module-Basesystem/15-SP1/x86_64/product/",
        "containers_pool": "http://download.suse.de/ibs/SUSE/Products/SLE-Module-Containers/15-SP1/x86_64/product/",
        "serverapps_pool": "http://download.suse.de/ibs/SUSE/Products/SLE-Module-Server-Applications/15-SP1/x86_64/product/",
        "sle_server_updates": "http://download.suse.de/ibs/SUSE/Updates/SLE-Product-SLES/15-SP1/x86_64/update/",
        "basesystem_updates": "http://download.suse.de/ibs/SUSE/Updates/SLE-Module-Basesystem/15-SP1/x86_64/update/",
        "containers_updates": "http://download.suse.de/ibs/SUSE/Updates/SLE-Module-Containers/15-SP1/x86_64/update/",
        "serverapps_updates": "http://download.suse.de/ibs/SUSE/Updates/SLE-Module-Server-Applications/15-SP1/x86_64/update/"
    },
    "packages": [
        "patterns-caasp-Node",
        "ca-certificates-suse"
    ],
    "authorized_keys": [],
    "ntp_servers": [
        "0.novell.pool.ntp.org",
        "1.novell.pool.ntp.org",
        "2.novell.pool.ntp.org",
        "3.novell.pool.ntp.org"
    ]
}
