[MASTER]
init-hook="import os,sys;testrunner_path=os.path.dirname(os.path.abspath(__file__));sys.path.append(os.path.join(testrunner_path,'utils'));sys.path.append(os.path.join(testrunner_path,'platforms'));"

[TYPECHECK]
ignored-classes=BaseConfig


[MISCELLANEOUS]

# List of note tags to take in consideration, separated by a comma.
notes=

[FORMAT]

# Maximum number of characters on a single line.
max-line-length=72

[MESSAGES CONTROL]

#enable-msg=
disable=C0111,C0112,W0603,W0703,R0201,C0413
#C0111: *Missing-docstring*
#C0112: *Empty docstring*
#W0603: *Global-statement*
#W0703: *Broad-except*
#R0201: *No-self-use*
#C0413: *Wrong-import-position*

[DESIGN]

# Maximum number of arguments for function / method
max-args=10

# Maximum number of locals for function / method body
max-locals=15

# Maximum number of return / yield for function / method body
max-returns=6

# Maximum number of branch for function / method body
max-branches=20

# Maximum number of statements in function / method body
max-statements=80

# Maximum number of parents for a class (see R0901).
max-parents=7

# Maximum number of attributes for a class (see R0902).
max-attributes=7

# Minimum number of public methods for a class (see R0903).
# due to Constants class
min-public-methods=0

# Maximum number of public methods for a class (see R0904).
max-public-methods=20
