# Name of the internal network to be created
internal_net = "testing"

# identifier to make all your resources unique and avoid clashes with other users of this terraform project
stack_name = "testing"

# define which image to use
# image_name = ""

# define the repositories to use
# repositories = [
#   {
#     caasp_devel_leap15 = "https://download.opensuse.org/repositories/devel:/CaaSP:/Head:/ControllerNode/openSUSE_Leap_15.0"
#   }
# ]

# ssh keys to inject into all the nodes
authorized_keys = [
  ""
]

# IMPORTANT: Replace these ntp servers with ones from your infrastructure
ntp_servers = ["0.novell.pool.ntp.org", "1.novell.pool.ntp.org", "2.novell.pool.ntp.org", "3.novell.pool.ntp.org"]
