# Name of the image to use
image_name = "SLES15-SP1-JeOS.x86_64-15.1-OpenStack-Cloud-RC2"

# Name of the internal network to be created
internal_net = "testing"

# Name of the external network to be used, the one used to allocate floating IPs
external_net = "floating"

# Identifier to make all your resources unique and avoid clashes with other users of this terraform project
stack_name = "testing"

# CIDR of the subnet for the internal network
subnet_cidr = "172.28.0.0/24"

# DNS servers for the nodes
"dns_nameservers" = [
    "172.28.0.2",
    "8.8.8.8",
    "8.8.8.4"
]

# Number of master nodes
masters = 1

# Number of worker nodes
workers = 2

# Size of the master nodes
master_size = "m1.medium"

# Size of the worker nodes
worker_size = "m1.medium"

# Attach persistent volumes to workers
workers_vol_enabled = 0

# Size of the worker volumes in GB
workers_vol_size = 5

# Name of DNS domain
dnsdomain = "testing.qa.caasp.suse.net"

# Set DNS Entry (0 is false, 1 is true)
dnsentry = 0

# Username for the cluster nodes
username = "sles"

# Password for the cluster nodes
password = "linux"

# Define the repositories to use
# repositories = [
#   {
#     caasp_devel_leap15 = "https://download.opensuse.org/repositories/devel:/CaaSP:/Head:/ControllerNode/openSUSE_Leap_15.0"
#   }
# ]

# SSH keys to inject into all the nodes
authorized_keys = [
  ""
]

# IMPORTANT: Replace these ntp servers with ones from your infrastructure
ntp_servers = ["0.novell.pool.ntp.org", "1.novell.pool.ntp.org", "2.novell.pool.ntp.org", "3.novell.pool.ntp.org"]
