{
    "image_name": "SLE-15-SP1-JeOS-GM",
    "internal_net": "testing",
    "internal_subnet": "testing-subnet",
    "internal_router": "testing-router",
    "external_net": "floating",
    "stack_name": "testing",
    "subnet_cidr": "172.28.0.0/24",
    "dnsdomain": "testing.qa.caasp.suse.net",
    "dnsentry": 0,
    "masters": 1,
    "master_size": "m1.medium",
    "workers": 2,
    "worker_size": "m1.medium",
    "workers_vol_enabled": 0,
    "workers_vol_size": 5,
    "repositories": {
        "caasp_devel": "http://download.suse.de/ibs/Devel:/CaaSP:/4.0/SLE_15_SP1/",
        "suse_ca": "http://download.suse.de/ibs/SUSE:/CA/SLE_15_SP1/",
        "sle_server_pool": "http://download.suse.de/ibs/SUSE/Products/SLE-Product-SLES/15-SP1/x86_64/product/",
        "basesystem_pool": "http://download.suse.de/ibs/SUSE/Products/SLE-Module-Basesystem/15-SP1/x86_64/product/",
        "containers_pool": "http://download.suse.de/ibs/SUSE/Products/SLE-Module-Containers/15-SP1/x86_64/product/",
        "serverapps_pool": "http://download.suse.de/ibs/SUSE/Products/SLE-Module-Server-Applications/15-SP1/x86_64/product/",
        "sle_server_updates": "http://download.suse.de/ibs/SUSE/Updates/SLE-Product-SLES/15-SP1/x86_64/update/",
        "basesystem_updates": "http://download.suse.de/ibs/SUSE/Updates/SLE-Module-Basesystem/15-SP1/x86_64/update/",
        "containers_updates": "http://download.suse.de/ibs/SUSE/Updates/SLE-Module-Containers/15-SP1/x86_64/update/",
        "serverapps_updates": "http://download.suse.de/ibs/SUSE/Updates/SLE-Module-Server-Applications/15-SP1/x86_64/update/"
    },
    "packages": [
        "kernel-default",
        "-kernel-default-base"
    ],
    "authorized_keys": [],
    "ntp_servers": [
        "0.novell.pool.ntp.org",
        "1.novell.pool.ntp.org",
        "2.novell.pool.ntp.org",
        "3.novell.pool.ntp.org"
    ]
}
