# Name of the image to use
image_name = "SLE-15-SP1-JeOS-GMC"

# Name of the internal network to be created
internal_net = "testing"

# Name of the external network to be used, the one used to allocate floating IPs
external_net = "floating"

# Identifier to make all your resources unique and avoid clashes with other users of this terraform project
stack_name = "testing"

# CIDR of the subnet for the internal network
subnet_cidr = "172.28.0.0/24"

# DNS servers for the nodes
"dns_nameservers" = [
    "172.28.0.2",
    "8.8.8.8",
    "8.8.8.4"
]

# Number of master nodes
masters = 1

# Number of worker nodes
workers = 2

# Size of the master nodes
master_size = "m1.medium"

# Size of the worker nodes
worker_size = "m1.medium"

# Attach persistent volumes to workers
workers_vol_enabled = 0

# Size of the worker volumes in GB
workers_vol_size = 5

# Name of DNS domain
dnsdomain = "testing.qa.caasp.suse.net"

# Set DNS Entry (0 is false, 1 is true)
dnsentry = 0

# Username for the cluster nodes
username = "sles"

# Password for the cluster nodes
password = "linux"

repositories = [
  {
    caasp_40_devel_sle15sp1 = "http://download.suse.de/ibs/Devel:/CaaSP:/4.0/SLE_15_SP1/"
  },
  {
    sle15sp1_pool = "http://download.suse.de/ibs/SUSE:/SLE-15-SP1:/GA/standard/"
  },
  {
    sle15sp1_update = "http://download.suse.de/ibs/SUSE:/SLE-15-SP1:/Update/standard/"
  },
  {
    sle15_pool = "http://download.suse.de/ibs/SUSE:/SLE-15:/GA/standard/"
  },
  {
    sle15_update = "http://download.suse.de/ibs/SUSE:/SLE-15:/Update/standard/"
  },
  {
    suse_ca = "http://download.suse.de/ibs/SUSE:/CA/SLE_15_SP1/"
  }
]

packages = [
  "kernel-default",
  "-kernel-default-base",
  "ca-certificates-suse",
  "patterns-caasp-Node",
]

# ssh keys to inject into all the nodes
authorized_keys = [
  ""
]

# IMPORTANT: Replace these ntp servers with ones from your infrastructure
ntp_servers = ["0.novell.pool.ntp.org", "1.novell.pool.ntp.org", "2.novell.pool.ntp.org", "3.novell.pool.ntp.org"]
