# Name of the internal network to be created
internal_net = "testing"

# identifier to make all your resources unique and avoid clashes with other users of this terraform project
stack_name = "testing"

# instance user name
username = "sles"

# define which image to use
image_name = "SLE-15-SP1-JeOS-GMC"

# Number of master nodes
masters = 1

# Number of worker nodes
workers = 2

# define the repositories to use
# EXAMPLE:
# repositories = [
#   { repository1 = "http://example.my.repo.com/repository1/" },
#   { repository2 = "http://example.my.repo.com/repository2/" }
# ]
repositories = []

packages = [
  "kernel-default",
  "-kernel-default-base",
  "kubernetes-kubeadm",
  "kubernetes-kubelet",
  "kubernetes-client"
]

# ssh keys to inject into all the nodes
authorized_keys = [
  ""
]

# IMPORTANT: Replace these ntp servers with ones from your infrastructure
ntp_servers = ["0.novell.pool.ntp.org", "1.novell.pool.ntp.org", "2.novell.pool.ntp.org", "3.novell.pool.ntp.org"]
