# prefix for resources
stack_name = "my-k8s"

# a SSH public key for accessing the machines
authorized_keys = [
  "ssh-rsa AAAAB3NzaC1yc2EA...",
]

# AWS region
aws_region = "eu-central-1"

# AWS availability zone
aws_az = "eu-central-1a"

# access key for AWS services
aws_access_key = "AKIXU..."

# secret key used for AWS services
aws_secret_key = "ORd..."

## To register CaaSP product please use ONLY ONE of the following method
# - register against SUSE Customer Service, with SUSE CaaSP Product Registration Code
# - register against local SUSE Repository Mirroring Server
#
# SUSE CaaSP Product Registration Code:
#caasp_registry_code = ""
#
# SUSE Repository Mirroring Server Name (FQDN):
#rmt_server_name = "rmt.example.com"
