access_key = "<from openbare>"
secret_key = "<from openbare>"

# identifier to make all your resources unique and avoid clashes with other users of this terraform project
# stack_name = ""

workers = 3
masters = 3

# ssh keys to inject into all the nodes
authorized_keys = [
]

# define the base url of the repository to use
# repo_baseurl = "https://download.opensuse.org/repositories/devel:/CaaSP:/Head:/ControllerNode/openSUSE_Leap_15.0"
