[MASTER]
init-hook="import os,sys;testrunner_path=os.path.dirname(os.path.abspath(__file__));sys.path.append(os.path.join(testrunner_path,'utils'));sys.path.append(os.path.join(testrunner_path,'platforms'));"

[TYPECHECK]
ignored-classes=BaseConfig,missing-docstring


[MISCELLANEOUS]

# List of note tags to take in consideration, separated by a comma.
notes=

[FORMAT]

# Maximum number of characters on a single line.
max-line-length=110

[MESSAGES CONTROL]
#enable-msg=
disable-msg=C0112
#C0112: *Empty docstring*

[DESIGN]

# Maximum number of arguments for function / method
max-args=5

# Maximum number of locals for function / method body
max-locals=15

# Maximum number of return / yield for function / method body
max-returns=6

# Maximum number of branch for function / method body
max-branches=20

# Maximum number of statements in function / method body
max-statements=80

# Maximum number of parents for a class (see R0901).
max-parents=7

# Maximum number of attributes for a class (see R0902).
max-attributes=7

# Minimum number of public methods for a class (see R0903).
min-public-methods=5

# Maximum number of public methods for a class (see R0904).
max-public-methods=20
